@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?yp4yvu');
  src: url('../fonts/icomoon.eot?yp4yvu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?yp4yvu') format('truetype'),
    url('../fonts/icomoon.woff?yp4yvu') format('woff'),
    url('../fonts/icomoon.svg?yp4yvu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}

body{
	font-family: system-ui;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h6{
	font-weight: normal;
	font-weight: bold;
}

h1{
	color: #3b3b3b;
	font-size: 40px;
	margin-top: 55px;
}
h2{
	color: #3b3b3b;
	font-weight: bold;
	font-size: 38px; 
	margin: 0;
    line-height: 30px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}
.header-logo{
	margin: 0;
}
.menu{
	height: inherit;	
}

.header ol{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	height: inherit;
}
ol li{
	align-items:center;
	height: inherit;

}
.header a{
	display: flex;
	padding: 0px 20px;
	text-decoration: none;
	align-items: center;
	color: #1b1b1b;
	height: inherit;
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;	
}
.hero{
	height: 500px;
	display: flex;
	justify-content: space-between;
	 flex-wrap: wrap;

}
.hero p{
	
	margin-bottom: 40px

}
.hero a{
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;

}
.hero-button{
	text-decoration: none;
	color: #fce0e0;
	margin-left: 5px;
	padding: 12px 30px;
	background-color: #ed3430;
}
.hero-image{
	margin: 0;
}
.values{
	background-color:#3b3b3b;
	height: 450px;

}

.content{
	display: flex;
	justify-content: space-between;
	 flex-wrap: wrap;
}

.content-values{
	color:#fff;
	margin: 40px 0px;
	padding:40px 0px;
	position:relative;
	text-align: center;
}
.content-values:nth-of-type(3) h3{
	position: relative;
	z-index: 5;
}

.content-values:nth-of-type(3) h3:after{
	content: '';
	position: absolute;
	height: 15px;
	width:43%;
    background: #ed3430;
    right: 3em;
	bottom: -5px;
	z-index: -1;

}
.content p{
	color:#cacaca;
}
.founders{
	display: flex;
	justify-content: space-between;
	height: 450px;
	 flex-wrap: wrap;
}
.person{
	margin: 40px 10px;
	padding:40px 10px;
	position: relative;
	margin-top: -110px;
	text-align: center;
}
.image-person{
	margin: 0;
	padding:0;
}
.person-details{
}
.person-name{
	margin-bottom: 0px;
}
.person p{
	margin:0;
	margin-top: -3px;
}
 
.product{
	height: 500px
}
.product-details{
	display: flex;
	flex-direction: column;
	text-align: center;
}
.product-title{
	position: relative;
	z-index: 5;
}
.product-details:nth-of-type(1) h2:after{
	content: '';
    position: absolute;
    height: 15px;
    width: 22%;
    background: #ed3430;
    right: 13em;
    bottom: -9px;
    z-index: -1;
}
.product-paragraph{
	margin-bottom: 35px;
	color:#858484;
}
.product-row{
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.product-image{
	margin: 0px;
	padding:0px;
	margin-top: 3px;
	padding-top:3px;
}.product-imageContainer{
	object-fit: contain;
}

.portfolio{
	display: flex;
	justify-content: space-between;
	align-items: center;
	 height: 500px;
	  flex-wrap: wrap;
}
.project-title{
	display: flex;
	justify-content: center;
}
.projects{
	display: flex;
	margin: 20px;
    padding: 10px;
    margin-top: -30px;
}
.projects-image{
	margin-left: 0px;
}
.projects h3{
	margin-bottom: -5px
}
.projects p{
	margin-bottom: 40px
}
.project-button{
	text-decoration: none;
	color: #fce0e0;
	padding: 12px 25px;
	background-color: #ed3430;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
}
.contact{
	background-color: #3b3b3b;
	height: 700px;
    display: flex;
    align-items: center;
    margin: 0 auto;
     flex-wrap: wrap;
}
.suscription{
  display: inherit;
   align-items: center;
   margin: inherit;
    }
 .suscription h2{
 	color:#fff;
 }
.info{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin: inherit;
}
.suscription p{
	margin: 40px;
    margin-top: 20px;
}
input{
	height: 30px;
    width: 625px;
    margin-bottom: 30px;
    padding: 0px 10px;
    background: transparent;
 	border: 1px solid #767676;
 	color: white;
 }
 textarea{
 	font-family: Arial;
 	height: 120px;
    width: 625px;
    margin-bottom: 50px;
    padding: 0px 10px;
    padding-top: 10px;
    background: transparent;
 	border: 1px solid #767676;
 	color: white;
 }


.suscription-button{
	display: block;
    color: #fce0e0;
    padding: 12px 25px;
    background-color: #ed3430;
    height: 50px;
    width: 150px;
}
.footer{
	display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
     flex-wrap: wrap;

}

.footer-image{
	margin:0;
}
.logo-paragraph.a{
	font-size: 10px;
    margin-top: 70px;
}
.logo-paragraph.b{
	margin: 0;
    font-size: 10px;
}
.logo-paragraph{
	color: #cdcdcd;
	text-transform: none;
	margin-left: 0px;
	}
.footer-information{
	display: inherit;
    flex-direction: column;
    
}
.footer-information{
	display: inherit;
    flex-direction: column;
    }
.information{
	display: inherit;
	align-items: center;
}
.footer-details{
	margin: 0;
	display: flex;
	flex-direction: column;

}
.footer-link{
	margin: 8px;
	font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    color:#8e8e8e;
}
.footer p{
	font-size: 13px;
	font-weight: bold;
	text-transform: capitalize;

 }

 .footer-paragraph{
 	margin: 8px;
 	font-size: 15px;


 }

.footer-social{
 	margin-top: 40px;
    padding-left: 8px;
}
.social-link{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin: 0 5px;
	background-size: 50px 50px;
	background-position: center center;
	background-size: cover;
	filter: brightness(100%) invert(1);
	
}
.social-link.twitter{
  background-image: url('../image/twitter.svg');
}
.social-link.facebook{
  background-image: url('../image/facebook.svg');
}
.social-link.instagram{
  background-image: url('../image/instagram.svg');			
 }
 .paragraph{
 	color:#949494;
 }
 .container{
 	max-width: 1000px;
 	flex: 1;
 	margin:0 auto;
 	display: inherit;
 	justify-content: inherit;
 	align-items: inherit;
 	height: inherit;
 	flex-wrap: inherit;
 }
 .burger-button{
  height: 40px;
  width:40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  color: white;
  z-index: 5;
  right: 2.5em;
  top: 1.6em;
}


 @media screen and (max-width: 1024px){
 	.header{
 		padding: 0 2em;
 	}
	
 }
 @media screen and (max-width: 767px){
 	
 }
 @media screen and (max-width: 480px){
 	.burger-button{
 		display: block;
 	}
 	.header{
 		display: block;
    	height: auto;
    	padding: 0;
}
.header-logoContainer{
	margin:0;
}

.header-logo {
	padding: 20px 30px;
}

.header-logo.is-active{
	position: fixed;
	z-index: 5;

}
	.header ol{
		display: initial;

	}

	.header ol li{
		height: 50px;


}
	.header li{
		margin-bottom: .5em;

	}
	.header a{
		justify-content: center;
		height: 40px;
		font-size:  2em;
		color: white;

	}

	.menu{
		position: fixed;
		background: rgba(35, 33, 33, .9);
		top: 0;
		right: 0;
		bottom: 0;
		width: 100vw;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: .3s;
		left: -100vw;
	}
	.menu.is-active{
 		left: 0;
	}
 	
 	
 }
 @media screen and (max-width: 320px){
 	
 }

 






